---
import Layout from '../layouts/Layout.astro';
import CardFocus from '../components/CardFocus.astro';
import CardBreak from '../components/CardBreak.astro';
import CardLongBreak from '../components/cardlongbreak.astro';
import CardSwitcher from '../components/switchers/CardSwitcher.jsx'
---

<Layout>
	<main>
		<CardSwitcher />
	</main>
</Layout>