---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout>
	<main>
		<Card title="Focus Time">
		<p>Este es el contenido de la tarjeta.</p>
		</Card>	
		
	</main>
</Layout>